.place-order{
    display: flex;
    align-items: start;
    gap: 50px;
    justify-content: space-between;
    margin-top: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size:30ox;
    font-weight: 600;
    margin-bottom: 30px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline: tomato;
}
.place-order-left .multi-field{
    display: flex;
    gap: 20px;
}
.place-order-right{
   width: 100%;
    max-width: max(40%,500px);
}
.place-order .cart-total button{
    margin-top:30px;
    
}