.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat ;
    background-size: contain;
    position: relative;

}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s ease-in-out;
}
.header-contents h2{
    font-weight: 500;
    color:white;
    font-size: max(4.5vw, 22px);
}
.header-contents p{
    font-size: 1vw;
    color: white;
}   
.header-contents button{
    color: #747474;
    border: none;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    border-radius: 50px;
    font-size: max(1vw, 14px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;  
}
.header-contents button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.3s ease-in-out;  
}
@media (max-width: 1050px){
    .header-contents{
        max-width: 80%;
    }
}
@media (max-width: 750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}